<html lang='{{locale}}'>

  <head>
    <meta charset='UTF-8' />
    <title>Crypto Chatbot</title>
    <meta
      name='viewport'
      content='width=device-width, height=device-height, initial-scale=1.0'
    />
    <link rel='icon' type='image/x-icon' href='images/favicon.ico' />
    <link rel='stylesheet' href='styles/tic-tac-toe.css' />
    <link rel='stylesheet' href='bootstrap/dist/css/bootstrap.min.css' />
    <script type="javascript" src='handlebars/dist/handlebars.min.js'></script>
  </head>

  <body class='text-center'>
    <div class='container'>
      <main>
        {{{body}}}
      </main>
    </div>
  </body>

</html>