<div class='row'>
  <div class='col-md-6 mt-5 paddingbottom20'>
    <h1>{{hello}}</h1>
    <p class='lead'>You're probably thinking why would I pay $4.99 for a PRO
      Membership when I can just buy a latte for the same price?</p>
  </div>
  <div class='col-md-3 paddingbottom20'>
    <img src='images/crypto-bot.jpg' alt='' width='auto' height='200' />
  </div>
  <section>
        <h1 class="game--title">Tic Tac Toe</h1>
        <div class="game--container">
            <div data-cell-index="0" class="cell"></div>
            <div data-cell-index="1" class="cell"></div>
            <div data-cell-index="2" class="cell"></div>
            <div data-cell-index="3" class="cell"></div>
            <div data-cell-index="4" class="cell"></div>
            <div data-cell-index="5" class="cell"></div>
            <div data-cell-index="6" class="cell"></div>
            <div data-cell-index="7" class="cell"></div>
            <div data-cell-index="8" class="cell"></div>
        </div>
        <h2 class="game--status"></h2>
        <button class="btn btn-info game--restart mb-3">Restart Game</button>
    </section>
</div>