<div class='row'>
  <div class='col-md-6 mt-5 paddingbottom20'>
    <h1>{{hello}}</h1>
    <p class='lead'>{{joke}}</p>
  </div>
  <div class='col-md-6 paddingbottom20'>
    <img
      class='mb-4 mt-2'
      src='images/robot2.png'
      alt=''
      width='31%'
      height='auto'
    />
  </div>
  <div>
    <a
      class='btn btn-light btn-lg mb-4'
      href='viber://pa?chatURI=stockmarketbot'
    ><img class='me-2' src='images/viber.svg' width='32' /><span
      >{{chat}}</span></a>
    <p class='lead'>{{scan}}</p>
    <img class='mb-4 mt-4' src='images/qr.png' />
  </div>
</div>